@page "/FileManager"
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using Syncfusion.Blazor.FileManager
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.ImageEditor
@using Syncfusion.Blazor.Popups
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IConfiguration Configuration
@inject ILogger<FileManager> Logger
@inject IFeatureChecker FeatureChecker
@using Syncfusion.Blazor.Spinner
@using Volo.Abp.Features


<div class="posRelative">
<SfFileManager @ref="SfFileManager" TValue="FileManagerDirectoryContent" Height="90vh"
    SelectedItemsChanged="OnSelectedItemsChanged" Path="@Path">
    <FileManagerNavigationPaneSettings Visible="false" />
    <SfSpinner @bind-Visible="ShowSpinner"></SfSpinner>
    <FileManagerUploadSettings AllowedExtensions="@AllowedExtensions" AutoUpload="true"/>
    <FileManagerAjaxSettings Url="/api/FileProvider/AmazonS3FileOperations" UploadUrl="/api/FileProvider/AmazonS3Upload"
        GetImageUrl="/api/FileProvider/AmazonS3GetImage" DownloadUrl="/api/FileProvider/AmazonS3Download">
    </FileManagerAjaxSettings>
    <FileManagerToolbarSettings ToolbarItems="@Items">
        <FileManagerCustomToolbarItems>
            <FileManagerCustomToolbarItem Name="ExaminationRecord">
                <Template>
                    <SfButton CssClass="e-control e-btn e-lib e-tbar-btn e-tbtn-txt examination-record"
                        Content="Examination Record" OnClick="GenerateRecord" Disabled="@IsExaminationRecordDisabled">
                    </SfButton>
                </Template>
            </FileManagerCustomToolbarItem>
            <FileManagerCustomToolbarItem Name="AIImage">
                <Template>
                    <SfButton CssClass="e-control e-btn e-lib e-tbar-btn e-tbtn-txt ai-icon" Content="AI"
                        OnClick="GetAISegmentedImage" Disabled="@IsAIImageBtnDisabled">
                    </SfButton>
                </Template>
            </FileManagerCustomToolbarItem>
            <FileManagerCustomToolbarItem Name="MeasurementImage">
                <Template>
                    <SfButton CssClass="e-control e-btn e-lib e-tbar-btn e-tbtn-txt measure-icon" Content="Measure"
                        OnClick="GetAIMeasurementImage" Disabled="@IsAIMeasurementBtnDisabled">
                    </SfButton>
                </Template>
            </FileManagerCustomToolbarItem>
        </FileManagerCustomToolbarItems>
    </FileManagerToolbarSettings>
    <FileManagerEvents TValue="FileManagerDirectoryContent" OnFileOpen="OpenFilePreview"></FileManagerEvents>
    <FileManagerEvents TValue="FileManagerDirectoryContent" BeforePopupOpen="SuppressImagePreview"></FileManagerEvents>
    @* <FileManagerEvents TValue="FileManagerDirectoryContent" Onsend="OnBeforeSend"></FileManagerEvents> *@
</SfFileManager>
@* <div class="posAbsolute"> *@
@* </div> *@
@* </div> *@
</div>

<style>
    .posRelative {
        position: relative;
    }

    .posAbsolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    div.e-large-icons li.e-large-icon {
        width: 170px !important;
        height: 130px !important;
    }

    div.e-large-icons div.e-text-content {
        height: 125px !important;
    }

    div.e-large-icons div.e-list-icon,
    div.e-large-icons img.e-list-img {
        width: 160px;
        height: 100px;
        max-width: unset !important;
        max-height: unset !important;
    }

    div.e-large-icons span.e-list-text {
        width: 160px !important;
    }

    .examination-record:hover {
        color: white !important;
    }

    .ai-icon:hover {
        color: white !important;
    }

    .measure-icon:hover {
        color: white !important;
    }

    .examination-record {
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .examination-record:disabled {
        background-color: #e0e0e0 !important;
        color: #9e9e9e !important;
        cursor: not-allowed !important;
    }

    .ai-icon:disabled {
        background-color: #e0e0e0 !important;
        color: #9e9e9e !important;
        cursor: not-allowed !important;
    }

    .measure-icon:disabled {
        background-color: #e0e0e0 !important;
        color: #9e9e9e !important;
        cursor: not-allowed !important;
    }

    .ai-icon {
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .measure-icon {
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .ai-icon::before {
        content: "✨ ";
        padding-right: 3px;
    }

    .measure-icon::before {
        content: "📏 ";
        padding-right: 3px;
    }

    .e-address-list-item{
        pointer-events: none;
    }
</style>